{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}|Home
{% endblock %}

{% block body %}
    {% if app.user %}
        <h1>Notre page d'accueil</h1>

    {% else %}
        <p> Veuillez vous connecter : <a href="{{ path('app_login') }}">Connexion</a> </p>
    {% endif %}

{% endblock %}