body
{
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}
main
{
    background-color: rgba(59, 8, 7, 0.2);
}
header
{
    background-color: 	hsl(345,70%,40%);
    padding: 0.8rem 0;
}
header h1
{
   text-align: center;
}
header p
{
    text-align: center;
}

main
{
    flex: 1;
    padding: 2rem 0;
}

footer
{
    text-align: center;
    background-color: 	hsl(345,70%,40%);
    padding: 1rem 0;
}

.authentification
{
    text-align: center;
}
label
{
display: block;
}
input
{
margin-bottom: 10px;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-profil{

    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;

}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-top: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}



nav a
{
    text-decoration: none;
    color: black;
}
nav a:hover
{
    font-weight: bold;
}

.navcustom{
    color: black;
    text-decoration: none;
}

button a
{
    text-decoration: none;
    color: black;
}

.form-sortie-creation
{
    display: flex;
    flex-direction: row;
}
.form-sortie-creation-bloc
{
    width: 50%;
    padding: 10px;
}

.form-bouton-create
{
    text-align: center;
}

.btn-secondary a{
    text-decoration: none;
    color: white;
}