<nav>
    <div class="header-nav">
    <a href="#">test nav</a>
    {% if app.user %}
        <a href="{{ path('profil_information', {'id': app.user.id}) }}">Profil</a>
    <a href="{{ path('app_logout') }}">Déconnexion</a>
    {% endif %}
    </div>

</nav>
